

<!--

               <article data-role="content">-->

<h2 id="headertitulo">
{{nombre}}
</h2>
                  <div id="inplaces">
                              <input type="radio" name="radio-choice" id="radio-choice-{{idalternativa}}" value="choice-{{idalternativa}}" checked="checked" />
                              <label for="radio-choice-{{idalternativa}}">{{nombre}}</label>
                  </div>
<div id="template32" >
                    <fieldset data-role="controlgroup" id="{{idpregunta}}">
                         <legend >{{nombre}}</legend>
                              <div id="lege">
                                   
                              </div>
                    </fieldset>
                    <a id="resolv"href="" data-role="button" data-theme="a">Responder</a>

    <div id="style-include">
        hello
    </div>
</div>

<!--


                      <div id="inplaces">          
<div class="ui-radio">
      <input name="radio-choice" id="radio-choice-{{id}}" value="choice-{{id}}" checked="checked" type="radio"/>
        <label class="ui-radio-on ui-btn ui-btn-corner-all ui-fullsize ui-btn-icon-left ui-first-child ui-btn-up-c" 
          data-mini="false" 
          data-theme="c" 
          data-wrapperels="span" 
          data-iconshadow="true" 
          data-shadow="false" 
          data-corners="true" 
          for="radio-choice-{{id}}">

          <span class="ui-btn-inner">
                <span class="ui-btn-text">{{name}}</span>
          </span>
        </label>
</div>
                      </div>
                              


<article role="main" class="ui-content" data-role="content">
  <div id="template32" >
       <fieldset 
                      data-init-selector=":jqm
                      Data(role='controlgroup')" 
                      data-mini="false" 
                      data-type="vertical" 
                      data-exclude-invisible="true" 
                      data-corners="true" 
                      data-shadow="false" 
                      data-disabled="false" aria-disabled="false" class="ui-corner-all ui-controlgroup ui-controlgroup-vertical" 
                      data-role="controlgroup" id="1"><div role="heading" class="ui-controlgroup-label"><legend>¿Cual es el Algoritmo de Encriptacion más seguro?</legend></div><div class="ui-controlgroup-controls">
                         <div id="lege">
                                   
                              </div>

                              

                              
                    </div></fieldset>
                    <a class="ui-btn ui-btn-up-a ui-shadow ui-btn-corner-all" data-wrapperels="span" data-iconshadow="true" data-shadow="true" data-corners="true" id="resolv" href="" data-role="button" data-theme="a"><span class="ui-btn-inner"><span class="ui-btn-text">Responder</span></span></a>

  </div>
</article>


-->
<!-- ------------------------------------------------- 


                      <div id="inplaces">          
<div class="ui-radio"><input name="radio-choice" id="radio-choice-{{idalternativa}}" value="choice-{{idalternativa}}" checked="checked" type="radio"><label class="ui-radio-on ui-btn ui-btn-corner-all ui-fullsize ui-btn-icon-left ui-first-child ui-btn-up-c" data-mini="false" data-theme="c" data-icon="radio-on" data-wrapperels="span" data-iconshadow="true" data-shadow="false" data-corners="true" for="radio-choice-{{idalternativa}}"><span class="ui-btn-inner"><span class="ui-btn-text">{{nombre}}</span><span class="ui-icon ui-icon-radio-on ui-icon-shadow">&nbsp;</span></span></label></div>
                                  </div>
                              


            <article role="main" class="ui-content" data-role="content">
<div id="template32" >
                    <fieldset data-init-selector=":jqmData(role='controlgroup')" data-mini="false" data-type="vertical" data-exclude-invisible="true" data-corners="true" data-shadow="false" data-disabled="false" aria-disabled="false" class="ui-corner-all ui-controlgroup ui-controlgroup-vertical" data-role="controlgroup" id="1"><div role="heading" class="ui-controlgroup-label"><legend>¿Cual es el Algoritmo de Encriptacion más seguro?</legend></div><div class="ui-controlgroup-controls">
                         <div id="lege">
                                   
                              </div>

                              

                              
                    </div></fieldset>
                    <a class="ui-btn ui-btn-up-a ui-shadow ui-btn-corner-all" data-wrapperels="span" data-iconshadow="true" data-shadow="true" data-corners="true" id="resolv" href="" data-role="button" data-theme="a"><span class="ui-btn-inner"><span class="ui-btn-text">Responder</span></span></a>

                    </div>
               </article>

-->